body {
    background-color: #f2f2f2;
}

.login-form {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}

.login-form label {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
}

.login-form input[type="email"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8c52ff;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #6a41cc;
}

.login-form .login-h5 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.login-form .login-form-signup {
    color: #8c52ff;
    text-decoration: none;
    display: block;
    text-align: center;
}

.login-form .login-form-signup:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .login-form {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .login-form {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .login-form {
        width: 40%;
    }
}
