body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F5; /* Light Gray */
}

.card {
    width: calc(25% - 5%); /* Adjusted size for 4 cards per row */
    height: 160px; /* Reduced size */
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.2rem; /* Reduced padding */
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 2%; /* Increased margin */
}

.room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Aligns cards in a row */
    list-style-type: none; /* Removes bullet points */
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}


/* Form Styles */
.add-property {
    width: 100%;
    max-width: 100%; /* Make the form full width */
    margin: 0 auto;
    padding: 20px;
    box-shadow: none; /* Remove the shadow */
    border-radius: 0; /* Remove the border radius */
}

.add-property-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-room-form {
    display: flex;
    flex-direction: column;
}
.input-field {
    margin: 10px auto; /* Center the input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%; /* Reduce the width */
    max-width: 300px; /* Adjust this value as needed */
}

.add-room {
    margin: 20px auto; /* Center the button */
    padding: 8px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block; /* Make the button a block element */
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%; /* Adjust this value as needed */
    max-width: 200px; /* Adjust this value as needed */
}

.add-room:hover {
    background-color: #45a049;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .add-property {
        width: 100%;
    }

    .input-field {
        font-size: 14px;
    }

    .add-room {
        font-size: 14px;
    }
}



@media screen and (max-width: 600px) {
    .card {
        width: 100%; /* Full width on mobile */
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: calc(50% - 4%); /* 2 cards in a row on tablet and larger */
    }
}

@media screen and (min-width: 900px) {
    .card {
        width: calc(25% - 4%); /* 4 cards in a row on desktop and larger */
    }
}
