{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename = 'after_logged.css')}}">
{% endblock %}

{% block content %}
<div class="add-property">
    <h2 class="add-property-heading">Add Property</h2>
    <form method="POST" class="add-property-form" method="POST">
        <input type="text" class="property_name input-field" placeholder="Enter your property name" name="propertyName" required>
        <button type="submit" class="submit-button">Add</button>
    </form>
    {% if list_items %}
    <h3 class="property-list-heading">Property List</h3>
    <ul class="property-list">
        {% for property, room_count, person_count in list_items %}
    <li class="property-item">
        <form method="GET" class="property-item-form" action="/addPropertyDetails">
            <div class="property-item-details" onclick="this.parentNode.submit();">
                <input type="hidden" value="{{property.user_id}}" name="item_id">
                <input type="hidden" value="{{property.property_id}}" name = "property_id">
                <h4 class="property-name"> {{ property.property_name }}</h4>
                
                <p>Room Count: {{ room_count }}</p>
    <p>Person Count: {{ person_count }}</p>
            </div>
        </form>
    </li>
{% endfor %}

    </ul>
    {% endif %}
</div>
{% endblock %}
